<!-- cart-page.component.html -->
<div class="cart-container">
  <div class="cart-list">
    <!-- Productos -->
    <mat-card *ngFor="let product of products$ | async" class="cart-item-card">
      <div class="item-img">
        <!-- <img [src]="product.image || 'assets/placeholder.png'" alt="{{ product.name }}" /> -->
         <img mat-card-image [src]="image" alt="{{ product.name }}" />
      </div>

      <div class="item-details">
        <h4>
       <strong>
          {{ product.name }}
        </strong> 
      </h4>
        <p>Paquete: {{ product.pricePerPackage | currency }}</p>
        <p>Unidades por paquete: {{ product.unitsPerPackage }}</p>
        <p>Tiempo de elaboración: {{ product.productionTime }} días</p>
        <span>Cantidad: {{ product.quantity }}</span>
      <p class="subtotal">Subtotal: {{ product.quantity * product.pricePerPackage | currency }}</p>

      </div>

      <div class="item-actions">
        <button mat-icon-button (click)="decrementItem(product)">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ product.quantity }}</span>
        <button mat-icon-button (click)="increment(product)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeProduct(product)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <!-- Cursos -->
    <mat-card *ngFor="let course of courses$ | async" class="cart-item-card">
      <div class="item-img">
        <img [src]="course.imageUrl" alt="{{ course.title }}" />
      </div>

      <div class="item-details">
        <h4>{{ course.title }}</h4>
        <p>Precio: {{ course.price | currency }}</p>
        <p *ngIf="course.subscribed" class="subscribed-label">Ya estás suscrito</p>
      </div>

      <div class="item-actions">
        <span>1</span>
        <button mat-icon-button color="warn" (click)="removeCourse(course)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <!-- Carrito Vacío -->
    <div *ngIf="(products$ | async)?.length === 0 && (courses$ | async)?.length === 0" class="empty-cart">
      <mat-icon>shopping_cart</mat-icon>
      <p>Tu carrito está vacío</p>
    </div>
  </div>

  <!-- Resumen del carrito -->
  <div class="cart-summary">
    <mat-card>
      <h3>Total</h3>
      <p>{{ total$ | async | currency }}</p>

      <!-- <h3>Tiempo de elaboración</h3>
      <p>{{ totalTime$ | async }} días</p> -->

      <button (click)="onPay()" mat-flat-button color="primary" class="pay-button" [disabled]="(total$ | async) === 0">
        Pagar
      </button>
    </mat-card>
  </div>
</div>

<!-- Contenido para el PDF -->
 <div #pdfContent class="recibo-pdf" style="position: absolute; top: -9999px; width: 800px;">
  
   <div id="receipt-content" style="position: relative; padding: 0 20px 20px 20px; font-family: Arial, sans-serif;color: black;min-height: 1500px;">
     <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px;">
       <img src="assets/logo-ar-creaciones.png" alt="AR Creaciones" style="height: 160px;" />
       <div style="width: 30%;display: flex; flex-direction: column;flex-wrap: nowrap;font-size: 20px;">
         <p style="margin: 0;"><strong>Factura N°:</strong> {{ '00001' }}</p>
         <p style="margin: 0;"><strong>Fecha:</strong> {{ today }}</p>
       </div>
     </div>
   
     <h2 style="text-align: center; margin-bottom: 10px;">Nota de venta</h2>
     <hr />
   
     <h3 style="margin-top: 20px;font-size: 20px;">Productos</h3>
     <table style="width: 100%; border-collapse: collapse; font-size: 20px;">
       <thead>
         <tr>
           <th style="border: 1px solid #ccc; padding: 5px;">Nombre</th>
           <th style="border: 1px solid #ccc; padding: 5px;">Cantidad</th>
           <th style="border: 1px solid #ccc; padding: 5px;">Precio</th>
           <th style="border: 1px solid #ccc; padding: 5px;">Subtotal</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let product of products$ | async">
           <td style="border: 1px solid #ccc; padding: 5px;">{{ product.name }}</td>
           <td style="border: 1px solid #ccc; padding: 5px;">{{ product.quantity }} paquete(s)</td>
           <td style="border: 1px solid #ccc; padding: 5px;">{{ product.pricePerPackage | currency }}</td>
           <td style="border: 1px solid #ccc; padding: 5px;">{{ product.quantity * product.pricePerPackage | currency }}</td>
         </tr>
       </tbody>
     </table>
   
     <ng-container *ngIf="courses$ | async as courses">
     <ng-container *ngIf="courses.length > 0">
       <h3 style="margin-top: 30px; font-size: 20px;">Cursos</h3>
       <table style="width: 100%; border-collapse: collapse; font-size: 20px;">
         <thead>
           <tr>
             <th style="border: 1px solid #ccc; padding: 5px;">Curso</th>
             <th style="border: 1px solid #ccc; padding: 5px;">Precio</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let course of courses">
             <td style="border: 1px solid #ccc; padding: 5px;">{{ course.title }}</td>
             <td style="border: 1px solid #ccc; padding: 5px;">{{ course.price | currency }}</td>
           </tr>
         </tbody>
       </table>
     </ng-container>
   </ng-container>
   
   
     <hr style="margin-top: 30px;" />
     <div style="text-align: right; font-size: 20px;">
       <p><strong>Total:</strong> {{ total$ | async | currency }}</p>
     </div>
     <footer  style="position: absolute; display: flex; flex-direction: column; width: 100%; justify-content: center;align-items: center;bottom: 0;top: 700px; right: 0;font-size: 20px;">
       <p style="display: flex; width: 100%;justify-content: center;align-items: center;"><strong>Contacto:</strong> {{'AR@mailto.com'}}</p>
       <p style="display: flex; width: 100%;justify-content: center;align-items: center;"><strong>Dirección:</strong> {{'ekatepunk, aguas que aqui matan'}}</p>
       <p style="display: flex; width: 100%;justify-content: center;align-items: center;"><strong>Telefono:</strong> {{'777-777-777'}}</p>
     </footer>
   </div>
</div>
