<mat-toolbar color="primary" class="toolbar">
  <!-- ☰ Menú hamburguesa solo en móvil -->
  <button mat-icon-button (click)="toggle.emit()" class="hidde-tags">
    <mat-icon>menu</mat-icon>
  </button>

AR Creaciones


  <!-- 🧭 Navegación central -->
 <div class="nav-links">
  <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
    Inicio
  </a>
  <a mat-button routerLink="/store" routerLinkActive="active">
    <mat-icon>inventory_2</mat-icon>
    Productos
  </a>
  <a class="cart-badge" mat-button routerLink="/cart" routerLinkActive="active">
    <mat-icon>shopping_cart</mat-icon>
    <span class="badge" *ngIf="(cartCount$ | async) as count">{{ count }}</span>
    Carrito
  </a>
</div>

  <!-- 👤 Login -->
  <!-- <button mat-button routerLink="/login" style="width: 7em;" >
    <mat-icon >person</mat-icon>
    Login
  </button> -->
</mat-toolbar>
